<?xml version="1.0" encoding="UTF-8"?><widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://byd4rking.github.io/iptv-chile-tv" version="1.0.0" viewmodes="maximized"><tizen:application id="ByD4rking.IPTVChileTV" package="IPCTV" required_version="5.5"/><content src="index.html"/><name>IPTV Chile TV</name><tizen:profile name="tv"/><access origin="*" subdomains="true"/><feature name="http://tizen.org/feature/screen.size.all"/><tizen:privilege name="http://tizen.org/privilege/internet"/></widget>